/* work sans font */
body {font-family: 'Work Sans', sans-serif;}

* {padding: 0px; margin: 0px;}

/* Nav section */
header {background: rgba(255, 144, 14, 0.10); padding: 50px 240px;}

nav { display: flex; justify-content: space-between; align-items: center; margin-bottom: 90px;}

nav>ul {display: flex;}

nav li a { text-decoration: none; color: #424242;}

nav li {list-style: none; margin-right: 30px; font-weight: 500px; font-size: 1rem;}

.nav-title { font-size: 2.8rem; font-weight: 700; color: #131313;}

/* banner section  */
.banner-content { max-width: 800px; text-align: center; margin: 0 auto;}

.banner-title { font-size: 4rem; font-weight: 700; color: #131313; padding-bottom: 20px;}

.banner-description {color: #727272;  padding-bottom: 20px}

.button-main {border-radius: 8px; color: #fff; background: #FF900E; padding: 20px 25px; 
    font-size: 1.25rem; cursor: pointer;  border: 0;}

.banner-img { width: 100%; margin-top: 20px;}

    /* main styles */

    main{ max-width: 1440px; margin: 70px auto;}

     /* Quick list of Our Features section  */

.teams-container{display: flex; align-items: center;}

.teams-image-container{display: grid; grid-template-columns:repeat(2, 1fr); gap: 1.5rem;}

.teams-content{ padding-right: 70px; padding-left: 70px;}

.teams-title{ font-size: 2.8rem; padding-bottom: 22px;}

.teams-title .quick-list{ color: #727272; font-weight: 500;}

.teams-title .text-features{color: #FF900E; font-weight: 700;}

.teams-description{color: #727272; padding-bottom: 28px;}

/* Features you will love & enjoy section */

.features{display: flex; margin-top: 130px; gap: 100px;}

.features-card { border-radius: 8px; background: #FFF; 
 padding: 30px; margin-bottom: 20px; box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);}

 .features-title{color: #131313; font-size: 45px; font-weight: 700; border-left: 5px solid
 #FF900E; padding-left:20px;}

.features-content{color: var #727272; font-size: 16px; font-weight: 400; padding-top: 24px;}

.card-heading{ color: #131313; font-size: 20px; font-weight: 600;}

.card-content{ color: #727272; font-size: 16px; font-weight: 400;}

.features-img img { height: 70%; margin-left: 70px;}

.ten-years-badge{border-radius: 8px; background: #FF900E; width: 342px; height: 200px; 
   text-align: center; position: relative; bottom: 100px; }

.ten-years-badge h2{color: #FFF; font-size: 4rem; font-weight: 700; padding-top: 35px;}

.ten-years-badge p{font-size: 1.5rem; color: #FFF; font-weight: 500;}

/* Some Facts section */
.facts{margin-top: 20px;}

.facts-title{ font-size: 2.5rem; font-weight: 700; color: #131313;}

.facts-description{ color: #727272; padding-bottom: 100px; padding-top: 20px; width: 542px;}

.facts-card-container{display: flex; justify-content: space-around;}

.facts-card-container .card { border-radius: 8px; border: 1px solid #FF900E; text-align: center;
padding: 42px 30px;}

.facts-card-container .card-stats{font-size: 2.8rem; color: #424242;}

.facts-card-container .card-title{ font-weight: 600; color: #727272; font-size: 1.25rem;}

/* Our Sponsors section */
.Sponsors-title{font-size: 2.5rem; font-weight: 700; color: #131313; padding-bottom: 24px;}

.Sponsors-description{color: #727272;  }

.Sponsors{text-align: center; margin-top: 150px;}

.sponsors-img-container{ display: flex; justify-content: space-evenly; margin-top: 50px; gap: 100px;
align-items: center;}

.sponsors-img-container img { width: 165px;}

/* Footer section */
footer{border-radius: 8px; background: #FFF4E7; padding: 38px 410px; margin: 130px 240px 200px;}

footer p{ text-align: center;}



/* responsive media queries */

/* For small device */
@media screen and (max-width: 576px) {
    header {padding: 20px;}

    .banner-title{font-size: 3rem;}

    nav {flex-direction: column;  margin-bottom: 20px;}

    .nav-title{font-size: 2.2rem; padding-bottom: 20px;}

    .button-main{padding: 15px; font-size: 18px;}

    .teams-image-container{ grid-template-columns: 1fr; padding-bottom: 30px;}

    .teams-content{ padding-right: 20px; padding-left: 20px;}

    .teams-container{flex-direction: column;}

    .facts-card-container{flex-direction: column; padding-right: 20px; padding-left: 120px; 
        gap: 20px; }

    .facts-title{ margin-left: 20px;}
    
    .facts-description{ width: 500px; margin-left: 20px;}

    .sponsors-img-container{ flex-direction: column; margin-left: 70px;}

    .Sponsors-title{ margin-left: 80px;}

    .Sponsors-description{ margin-left: 70px;}

    .features{flex-direction: column;}

    .features-img img{ width: 90%; margin-left: 40px;}

    .ten-years-badge{ max-width: 300px; margin-left: 30px;}

    .features-title{margin-left: 20px;}

    .features-content{margin-left: 20px; margin-bottom: 20px;}

    footer{ padding-left: 70px; padding-right: 70px; margin-left: 120px; margin-right: 20px;}

}

/* For tablet or medium device */
@media screen and (min-width: 576px ) and (max-width: 960px) {
    header {padding: 50px;  }

    nav{flex-direction: column; margin-bottom: 25px;}

    .teams-container{flex-direction: column;}

    .teams-image-container{padding-bottom: 30px;}

    .nav-title{padding-bottom: 30px;}

    .facts-title{ margin-left: 20px;}
    
    .facts-description{ margin-left: 20px;}

    .card{width: 150px; height: 150px; margin-left: 10px; margin-right: 10px;}

    .sponsors-img-container{ flex-direction: column;}

    .features{flex-direction: column;}

    .features-title{margin-left: 20px;}

    .features-content{margin-left: 20px; margin-bottom: 20px;}

    .features-img img{ width: 80%;}

    .ten-years-badge{ max-width: 400px; margin-left: 50px;}

    
    footer{ padding-left: 70px; padding-right: 70px; margin-left: 60px; margin-right: 20px;}

}